
* {
    margin: 5px 0;
    padding: 0;
}

/* Navigation Menu Selector, Declaration for Background */
nav {
    background-color: rgb(34 68 119 / 1);
    padding: 10px;
}

/* Navigation Anchor Selector, Declaration for Text */
nav a {
    color: white;
    padding: 10px
}

main {
    width: 800px;
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
}

/* Heading 1 Selector, Declaration for Foreground */
h1 {
    color: rgb(34 68 119 / 1);
}

/* Image elements Selector, Declaration for format */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraph elements Selector, Declaration for Text */
p {
    padding: 0;
}

aside {
    width: 60%;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: rgb(34 68 119 / 1);
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 10px;
    border-top: 1px solid gray;
    text-align: center;
}